
.colored-background-input{
	background: #FFBC58;
	padding: 10px;
	border-radius: 3px;
	width: 75%;
	overflow: hidden;
	float: left;

	h3{
		margin: 0;
		white-space: nowrap;
	}
}

#btnLetMeKnow1{
	font-size: 30px;
	margin-left: 10px;
}