
// Character's variables
	// Cute pink face
	$cute_face_background: $strong_pink;
	$cute_face_elements_color: #DC838C;

	// Invidia green face
	$invidia_face_background: $water_green;
	$invidia_face_elements_color: #4cbcac;

	// Night-time violet face
	$nighttime_face_background: $violet;
	$nighttime_face_elements_color: $purple;

#LCMainCharacterStage{
	height: 530px;
	opacity: 0;
	margin-top: 70px;

	&.ready{
		@include cB(transition, opacity .5s ease);
		opacity: 1;
	}

/* MAIN CHARACTER */

	#LCCharacter{
		height:100%;

		/*EYES*/
		.lc-eyes{

			.lc-eye{
				-webkit-transform: scaleY(1) translateY(0px);
			}

			&.animated .lc-eye{
				/* Chrome, Safari, Opera */
				-webkit-animation:  lc-character-eye-blink .5s steps(1), 
									lc-character-eye-blink .3s 2s steps(1), 
									lc-character-eye-blink .5s 2.3s steps(1); 
			}

			&.sleepy .lc-eye{
				/* Chrome, Safari, Opera */
				@include cB(transform, scaleY(0.3) translateY(78px));
			}


		}

		/*EYEBROWS*/
		.lc-eyebrows{
			.lc-eyebrow{
				-webkit-transform: scaleY(1) translateY(0px);
			}

			&.animated .lc-eyebrow{
				/* Chrome, Safari, Opera */
				-webkit-animation:  lc-character-eyebrow-blink .5s steps(1), 
									lc-character-eyebrow-blink .3s 2s steps(1), 
									lc-character-eyebrow-blink .5s 2.3s steps(1); 
			}

			&.sleepy .lc-eyebrow{
				/* Chrome, Safari, Opera */
				@include cB(transform, scaleY(0.3) translateY(78px));
			}
		}

		.lc-mouth-container{

			-webkit-transform: scaleY(0.90) translateY(70px);
			-moz-transform: scaleY(0.90) translateY(70px);
			-ms-transform: scaleY(0.90) translateY(70px);
			-o-transform: scaleY(0.90) translateY(70px);
			transform: scaleY(0.90) translateY(70px);


			-webkit-transition: -webkit-transform .4s ease;
			-moz-transition: -moz-transform .4s ease;
			-ms-transition: -ms-transform .4s ease;
			-o-transition: -o-transform .4s ease;
			transition: transform .4s ease;

			&:hover{	
				-webkit-transform: scaleY(1.08) translateY(-50px);
				-moz-transform: scaleY(1.08) translateY(-50px);
				-ms-transform: scaleY(1.08) translateY(-50px);
				-o-transform: scaleY(1.08) translateY(-50px);
				transform: scaleY(1.08) translateY(-50px);
			}
		}

	}

}


// Stage background colors
#LCBackgroundStage{

	background-position: 60% -30%;
	@include transition(background-position 5s ease, background-color .5s ease);

	// Character's helper backgrounds
	&.section-char-cute{
		background-color: $cute_face_background;
		color: $violet;

		.lc-eyebrow, .lc-nose, .lc-mouth{
			stroke: $cute_face_elements_color;
		}
	}

	&.section-char-invidia{
		background-color: $invidia_face_background;
		color: $violet;

		.lc-eyebrow, .lc-nose, .lc-mouth{
			stroke: $invidia_face_elements_color;
		}
	}	
	
	&.section-char-nighttime{
		background-color: $nighttime_face_background;
		color: wheat;


		background-image: url(../images/stage-moon.png);
		background-repeat: no-repeat;
		background-position: 60% 30%;
		background-size: 130px;

		.lc-eye{
			fill: wheat;
		}

		.lc-eyebrow, .lc-nose, .lc-mouth{
			stroke: $nighttime_face_elements_color;
		}
	}
}

/*LCStageText*/
#LCStageText{
	margin-top: 150px;
	opacity: 0;

	// background: #A4D6C1;
	// border-radius: 100px;
	// padding: 30px 70px;

	// &:before{
	// 	content: "";
	// 	border-left: 20px solid transparent;
	// 	border-right: 20px solid transparent;
	// 	border-top: 20px solid transparent;
	// 	border-bottom: 40px solid #A4D6C1;
	// 	display: inline-block;
	// 	-webkit-transform: rotate(-120deg);
	// 	position: absolute;
	// 	right: 95%;
	// 	top: 80%;
	// }

	&.ready{
		@include cB(transition, opacity .5s .8s ease);
		opacity: 1;
	}


	h1{
		font-size: 70px;
		margin-bottom: 40px;
	}

	h2{
		font-size: 53px;
		margin-bottom: 50px;
		margin-top: 0px;
	}

	.btn{
		font-size: 36px;
	}
}





#Nurture{
	h2{
		margin-top: 0;
	}
}