// SET YOUR STYLES HERE
$button_styles: "primary" $action_primary, 
				"warning" $action_warning,
				"danger"  $action_danger,
				"info"    $action_info,
				"white"   white,
				"default" $action_default,
				"success" $action_success;

/*Primary button*/
.btn{

	@include typo_brand_strong;
	outline: none !important;
	// STYLES FROM $button_styles on top
	@each $style in $button_styles{
		$loop_button_name: nth($style, 1);
		$loop_button_color: nth($style, 2);

		// COLORS
		&.btn-#{$loop_button_name}{
			background: $loop_button_color;
			color: white;
			border-color: $loop_button_color;

			&:hover{
				background: lighten($loop_button_color, 5%);
				border-color: lighten($loop_button_color, 5%);
			}

			&:active, &.active{
				background: darken($loop_button_color, 5%);
				border-color: darken($loop_button_color, 5%);
				// box-shadow: inset 0px 3px 3px darken($loop_button_color, 10%);
				box-shadow: none;
			}

			&.btn-outline{
				color: $loop_button_color;
				border: 2px solid $loop_button_color;
				background: transparent;

				&:hover, &.hover{
					color: white;
					background: $loop_button_color;
				}

				&:active, &.active{
					color: white;
					background: darken($loop_button_color, 5%);

				}
			}
		}

	}

	&.btn-maincta{
		color: rgba(0,0,0, .6);
		border: 2px solid rgba(0,0,0, .7);
		background: transparent;

		&:hover{
			color: rgba(#fff, 0.8);
			background: #61C1A2;
			border-color: #61C1A2;
		}

		&:active, &.active{
			background: darken(#61C1A2, 5%);
			border-color: darken(#61C1A2, 5%);
			box-shadow: none;
		}

	}
}
