
.lc-navbar{
	background: white;
	.navbar-nav{
		>li{
			>a{
				color: rgba(0,0,0, 0.5);
				@include typo_brand_strong;
				font-weight: 600;

				padding-top: 25px;
				padding-bottom: 25px;
			}
		}
	}

	.navbar-brand{
		height: 70px;
	}
}
