// Colored sections
section{
	padding: 50px 0;
	@include transition(background-color .5s ease-out);
	
	color: rgba(0,0,0,.6);

	&.section-primary{
		background: $section_primary; 
		// color: $violet;
	}

	&.section-info{
		background: $section_info;
		// color: $violet;
	}

	&.section-success{
		background: $section_success;
		// color: $violet;
	}

	&.section-danger{
		background: $section_danger;
	}

	&.section-dream{
		background: $section_dream;
		// color: $weak_pink;
	}

	&.section-warning{
		background: $section_warning;
		// color: $weak_pink;
	}

	$section_max_size: 10;
	$section_atom: 30px;
	// Section sizes
	@for $size from 1 through $section_max_size{
		&.section-size-#{$size}{
			padding: $size * $section_atom 0px;
		}		
	}

	position: relative;

	.vertically-aligned{
		@media(min-width: 768px){
			width: 100%;
		}
	}
}

