
/* 

	Animated flowers in SVG + CSS3 =========================================================================================
	
		A flower structure:
			SVG.ci-plant
				.ci-animated-flower				 - Could contain N flowers
					.ci-flower-petals			 - Just a container for petals
						.ci-flower-petal		 - Every single petal
					.ci-flower-disc				 - A group of shapes that form a flower skeleton
					.ci-flower-pollen			 - The yellow center circle of a flower

				.ci-body						 - It's the main usually bottom branch of the plant (Not so useful actually)


	========================================================================================================================
	
*/


// SET YOUR STYLES HERE
$flower_colors: "primary" $action_primary, 
				"warning" $action_warning,
				"danger"  $action_danger,
				"info"    $action_info,
				"success" $action_success;

$default_size_flower: 80px;


// The svg container of the plant
svg.ci-plant{


	// A single animated flower - With everything it could have
	.ci-animated-flower{


		.ci-flower-petals{
			padding: 10px;
			height: $default_size_flower;
			width: $default_size_flower;

			// Flower sizes
			$small_size_flower: 60px;
			&.flower-sm{
				height: $small_size_flower;
				width: $small_size_flower;
			}

			$large_size_flower: 100px;
			&.flower-lg{
				height: $large_size_flower;
				width: $large_size_flower;
			}

			$xlarge_size_flower: 150px;
			&.flower-xl{
				height: $xlarge_size_flower;
				width: $xlarge_size_flower;
			}


			// Single petal definition
			.ci-flower-petal {
				opacity: .7;
				
				// Petal rotation
				&.ci-petal-rotate-slow{
					-webkit-transform-origin: 50% 50%;
					-webkit-animation: flower-disc-rotation 15s linear infinite;
				}

				&.ci-petal-rotate{
					-webkit-transform-origin: 50% 50%;
					-webkit-animation: flower-disc-rotation 10s linear infinite;
				}

				&.ci-petal-rotate-fast{
					-webkit-transform-origin: 50% 50%;
					-webkit-animation: flower-disc-rotation 5s linear infinite;
				}


				// Petal ellipse
				&.ci-petal-orbit-slow{
					-webkit-animation: flower-orbit 8s ease infinite;
				}

				&.ci-petal-orbit{
					-webkit-animation: flower-orbit 6s ease infinite;
				}

				&.ci-petal-orbit-reverse{
					-webkit-animation: flower-orbit-reverse 6s ease infinite;
				}

				&.ci-petal-orbit-fast{
					-webkit-animation: flower-orbit 4s ease infinite;
				}


				// Petal pulse
				&.ci-petal-pulse-slow{
					-webkit-transform-origin: 50% 50%;
					-webkit-animation: flower-pulsation 10s ease infinite;
				}

				&.ci-petal-pulse{
					-webkit-transform-origin: 50% 50%;
					-webkit-animation: flower-pulsation 6s ease infinite;
				}

				&.ci-petal-pulse-fast{
					-webkit-transform-origin: 50% 50%;
					-webkit-animation: flower-pulsation 4s ease infinite;
				}



			}

		}


		.ci-flower-disc{
			-webkit-transform-origin: 50% 50%;
			-webkit-animation-name: flower-disc-rotation;
			-webkit-animation-duration: normal;
			-webkit-animation-timing-function: linear;
			-webkit-animation-iteration-count: infinite;

			-webkit-animation-duration: 10s;

			&.ci-disc-slow{
				-webkit-animation-duration: 20s;
			}

			&.ci-disc-veryslow{
				-webkit-animation-duration: 30s;
			}

			&.ci-disc-fast{
				-webkit-animation-duration: 4s;
			}

			&.ci-disc-reverse{
				-webkit-animation-name: flower-disc-rotation-reverse;
			}
		}


		.ci-flower-pollen{

			// Petal pulse
			&.ci-pollen-pulse-slow{
				-webkit-transform-origin: 50% 50%;
				-webkit-animation: flower-pollen-pulsation 15s ease infinite;
			}

			&.ci-pollen-pulse{
				-webkit-transform-origin: 50% 50%;
				-webkit-animation: flower-pollen-pulsation 8s ease infinite;
			}

			&.ci-pollen-pulse-fast{
				-webkit-transform-origin: 50% 50%;
				-webkit-animation: flower-pollen-pulsation 5s ease infinite;
			}

		}


		// Flower styles [E.g. .ci-flower-primary] - Pick from above => $flower_colors
		@each $style in $flower_colors{
			$loop_flower_name: nth($style, 1);
			$loop_flower_color: nth($style, 2);

			&.ci-flower-#{$loop_flower_name} {
				.ci-flower-petals .ci-flower-petal {
					fill: darken($loop_flower_color, 10%);
					stroke: none;

					path{
						fill: darken($loop_flower_color, 10%);
					}

					&:last-child{
						fill: darken($loop_flower_color, 15%);
					}

					&:first-child{
						fill: darken($loop_flower_color, 5%);
					}
				}
			}
		}


		&.ci-flower-info{
			&.ci-windy{
				-webkit-transform-origin: right bottom;
				-webkit-animation: flower-wind-effect 10s ease infinite;
			}
		}

		// Color carousel
		// &.flower-carousel{
		// 	// Style for petal carousel
		// 	.ci-flower-petals{
		// 		.ci-flower-petal {

		// 			&.ci-petal-sm{
		// 				-webkit-animation: flower-color-carousel 30s linear infinite, flower-orbit 5s ease infinite;
		// 			}
		// 			&.ci-petal-md{
		// 				-webkit-animation: flower-color-carousel 30s linear infinite, flower-orbit 8s ease infinite;
		// 			}
		// 			&.ci-petal-lg{
		// 				-webkit-animation: flower-color-carousel 30s linear infinite, flower-orbit 7s ease infinite;
		// 			}

		// 		}
		// 	}
		// }
	}



}

.btn,.flower-pot{
	.ci-animated-flower{
		position: absolute;
		right: 80%;
		top: -100%;

		z-index: -1;
	}
}