$headings_max: 48px;
$headings_subtraction: 6px;

@each $heading in 1,2,3,4,5,6{
	h#{$heading}{
		@include typo_brand_weak;

		font-weight: 700;
		
		letter-spacing: 2px;

		font-size: $headings_max - ($headings_subtraction * ($heading - 1)) - 6;

		@media (min-width: 768px){
			font-size: $headings_max - ($headings_subtraction * ($heading - 1));
		}


		// text-transform: uppercase;
	}
}

h1{
	font-weight: 700;
}


.section-header{
	@extend .margin-bottom-3;
}
