
// Website configuration
$navbar_fixed_top: true;


// Color palette
$red: 							#f47472;

$green: 						#E1EA2A;

$purple: 						#F9B0DB;
$fucsia: 						#f680c6;
$dark_purple: 			#aa4782;
$grey_purple: 			#ad8b9f;

$light_water_blue: 	#52b5c3;
$dark_water_blue: 	#C9F3F9;
$light_blue: 				#c9f3f9;

$yellow: 						#f8e79a;
$dark_gold: 				#ada271;
$light_gold: 				#c6b978;

$black: 						#000000;
$green_gold: 				#897C46;


$light_brown: #E5C4A9;

// Color denomination
$strong_color: $black;
$weak_color: $light_brown;

$base_color: $strong_color; // should be used for text
$primary_color: $strong_color;
$secondary_color: $weak_color;
$success_color: $green;


// Fonts
$font_brand_strong: 'Futura';
$font_brand_weak: 'Futura Std';

// Actionable colors
$action_primary: 	$primary_color;
$action_success: 	$success_color;
$action_warning: 	$secondary_color;
$action_danger: 	$strong_color;
$action_default: 	$base_color;
$action_info: 		$dark_water_blue;

// Sections colors
$section_primary: $primary_color;
$section_success: $success_color;
$section_info: $secondary_color;
$section_danger: $strong_color;
$section_dream: $secondary_color;
