@font-face {
  font-family: 'Futura Std';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/futura/FuturaStd-Medium.ttf"); }

@font-face {
  font-family: 'Futura Std';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/futura/futurastdheavy.ttf"); }

@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/futura/futura.ttf"); }

.navbar.navbar-cinnamon {
  background: black;
  border: none;
  border-radius: 0;
  min-height: 80px;
  margin-bottom: 0;
  letter-spacing: 1px; }
  .navbar.navbar-cinnamon .navbar-brand {
    height: 80px; }
  .navbar.navbar-cinnamon .navbar-nav > li > button {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 18px;
    font-weight: 300;
    padding-top: 5px; }
  .navbar.navbar-cinnamon .navbar-nav > li > a {
    font-size: 18px;
    padding: 30px 15px;
    font-family: "Futura Std";
    font-weight: 200;
    color: #e5c4a9;
    font-weight: 300;
    text-transform: lowercase; }
  .navbar.navbar-cinnamon .navbar-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 8px; }

/*Body*/
body {
  font-family: "Futura Std";
  font-weight: 200;
  color: black;
  padding-top: 80px; }

section {
  padding: 50px 0;
  position: relative; }
  section.section-primary {
    background: black;
    color: #e5c4a9; }
    section.section-primary hr {
      border-color: #e5c4a9; }
  section.section-info {
    background: #e5c4a9;
    color: black; }
    section.section-info hr {
      border-color: black; }
  section.section-success {
    background: #e1ea2a;
    color: black; }
  section.section-danger {
    background: black;
    color: black; }
  section.section-dream {
    background: #e5c4a9;
    color: black; }
  section.section-size-1 {
    padding: 10px 0px; }
    @media (min-width: 768px) {
      section.section-size-1 {
        padding: 30px 0px; } }
  section.section-size-2 {
    padding: 20px 0px; }
    @media (min-width: 768px) {
      section.section-size-2 {
        padding: 60px 0px; } }
  section.section-size-3 {
    padding: 30px 0px; }
    @media (min-width: 768px) {
      section.section-size-3 {
        padding: 90px 0px; } }
  section.section-size-4 {
    padding: 40px 0px; }
    @media (min-width: 768px) {
      section.section-size-4 {
        padding: 120px 0px; } }
  section.section-size-5 {
    padding: 50px 0px; }
    @media (min-width: 768px) {
      section.section-size-5 {
        padding: 150px 0px; } }
  section.section-size-6 {
    padding: 60px 0px; }
    @media (min-width: 768px) {
      section.section-size-6 {
        padding: 180px 0px; } }
  section.section-size-7 {
    padding: 70px 0px; }
    @media (min-width: 768px) {
      section.section-size-7 {
        padding: 210px 0px; } }
  section.section-size-8 {
    padding: 80px 0px; }
    @media (min-width: 768px) {
      section.section-size-8 {
        padding: 240px 0px; } }
  section.section-size-9 {
    padding: 90px 0px; }
    @media (min-width: 768px) {
      section.section-size-9 {
        padding: 270px 0px; } }
  section.section-size-10 {
    padding: 100px 0px; }
    @media (min-width: 768px) {
      section.section-size-10 {
        padding: 300px 0px; } }
  section .img-background {
    display: none; }
  section.section-with-background-img {
    overflow: hidden;
    text-shadow: 1px 1px 1px #000; }
    section.section-with-background-img .img-background {
      display: none;
      position: absolute;
      top: -30%;
      left: 0;
      right: 0;
      margin: auto;
      display: block; }
    section.section-with-background-img .container {
      position: relative;
      z-index: 2; }
    section.section-with-background-img:after {
      content: " ";
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000',GradientType=0 );
      /* IE6-9 */
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  section .section-title {
    margin-top: 0;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      section .section-title {
        margin-bottom: 30px; } }
  section.overflow-hidden {
    overflow: hidden; }
  section .vertically-aligned {
    width: 100%; }
  section .vertically-aligned {
    width: 100%; }

hr {
  border-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    hr {
      margin-bottom: 100px; } }
  hr.half-rule {
    width: 100px;
    margin: 40px auto; }
  hr.hr-inverse {
    border-color: rgba(255, 255, 255, 0.5); }

/*Primary button*/
.btn {
  font-family: "Futura";
  font-weight: 800;
  outline: none !important; }
  .btn.btn-primary {
    background: black;
    color: white;
    border-color: black;
    border-radius: 0;
    text-transform: lowercase; }
    .btn.btn-primary:hover {
      background: #0d0d0d;
      border-color: #0d0d0d; }
    .btn.btn-primary:active, .btn.btn-primary.active {
      background: black;
      border-color: black;
      box-shadow: none; }
    .btn.btn-primary.btn-outline {
      color: black;
      border: 2px solid black;
      background: transparent; }
      .btn.btn-primary.btn-outline:hover, .btn.btn-primary.btn-outline.hover {
        color: white;
        background: black; }
      .btn.btn-primary.btn-outline:active, .btn.btn-primary.btn-outline.active {
        color: white;
        background: black; }
    .btn.btn-primary.btn-line {
      color: black;
      border: none;
      background: transparent;
      text-decoration: underline;
      padding: 0px; }
      .btn.btn-primary.btn-line:hover {
        text-decoration: none; }
    .btn.btn-primary.btn-wider {
      padding-left: 30px;
      padding-right: 30px; }
  .btn.btn-warning {
    background: #e5c4a9;
    color: white;
    border-color: #e5c4a9;
    border-radius: 0;
    text-transform: lowercase; }
    .btn.btn-warning:hover {
      background: #ebd1bd;
      border-color: #ebd1bd; }
    .btn.btn-warning:active, .btn.btn-warning.active {
      background: #dfb795;
      border-color: #dfb795;
      box-shadow: none; }
    .btn.btn-warning.btn-outline {
      color: #e5c4a9;
      border: 2px solid #e5c4a9;
      background: transparent; }
      .btn.btn-warning.btn-outline:hover, .btn.btn-warning.btn-outline.hover {
        color: white;
        background: #e5c4a9; }
      .btn.btn-warning.btn-outline:active, .btn.btn-warning.btn-outline.active {
        color: white;
        background: #dfb795; }
    .btn.btn-warning.btn-line {
      color: #e5c4a9;
      border: none;
      background: transparent;
      text-decoration: underline;
      padding: 0px; }
      .btn.btn-warning.btn-line:hover {
        text-decoration: none; }
    .btn.btn-warning.btn-wider {
      padding-left: 30px;
      padding-right: 30px; }
  .btn.btn-danger {
    background: black;
    color: white;
    border-color: black;
    border-radius: 0;
    text-transform: lowercase; }
    .btn.btn-danger:hover {
      background: #0d0d0d;
      border-color: #0d0d0d; }
    .btn.btn-danger:active, .btn.btn-danger.active {
      background: black;
      border-color: black;
      box-shadow: none; }
    .btn.btn-danger.btn-outline {
      color: black;
      border: 2px solid black;
      background: transparent; }
      .btn.btn-danger.btn-outline:hover, .btn.btn-danger.btn-outline.hover {
        color: white;
        background: black; }
      .btn.btn-danger.btn-outline:active, .btn.btn-danger.btn-outline.active {
        color: white;
        background: black; }
    .btn.btn-danger.btn-line {
      color: black;
      border: none;
      background: transparent;
      text-decoration: underline;
      padding: 0px; }
      .btn.btn-danger.btn-line:hover {
        text-decoration: none; }
    .btn.btn-danger.btn-wider {
      padding-left: 30px;
      padding-right: 30px; }
  .btn.btn-info {
    background: #c9f3f9;
    color: white;
    border-color: #c9f3f9;
    border-radius: 0;
    text-transform: lowercase; }
    .btn.btn-info:hover {
      background: #e0f8fc;
      border-color: #e0f8fc; }
    .btn.btn-info:active, .btn.btn-info.active {
      background: #b2eef6;
      border-color: #b2eef6;
      box-shadow: none; }
    .btn.btn-info.btn-outline {
      color: #c9f3f9;
      border: 2px solid #c9f3f9;
      background: transparent; }
      .btn.btn-info.btn-outline:hover, .btn.btn-info.btn-outline.hover {
        color: white;
        background: #c9f3f9; }
      .btn.btn-info.btn-outline:active, .btn.btn-info.btn-outline.active {
        color: white;
        background: #b2eef6; }
    .btn.btn-info.btn-line {
      color: #c9f3f9;
      border: none;
      background: transparent;
      text-decoration: underline;
      padding: 0px; }
      .btn.btn-info.btn-line:hover {
        text-decoration: none; }
    .btn.btn-info.btn-wider {
      padding-left: 30px;
      padding-right: 30px; }
  .btn.btn-white {
    background: white;
    color: white;
    border-color: white;
    border-radius: 0;
    text-transform: lowercase; }
    .btn.btn-white:hover {
      background: white;
      border-color: white; }
    .btn.btn-white:active, .btn.btn-white.active {
      background: #f2f2f2;
      border-color: #f2f2f2;
      box-shadow: none; }
    .btn.btn-white.btn-outline {
      color: white;
      border: 2px solid white;
      background: transparent; }
      .btn.btn-white.btn-outline:hover, .btn.btn-white.btn-outline.hover {
        color: white;
        background: white; }
      .btn.btn-white.btn-outline:active, .btn.btn-white.btn-outline.active {
        color: white;
        background: #f2f2f2; }
    .btn.btn-white.btn-line {
      color: white;
      border: none;
      background: transparent;
      text-decoration: underline;
      padding: 0px; }
      .btn.btn-white.btn-line:hover {
        text-decoration: none; }
    .btn.btn-white.btn-wider {
      padding-left: 30px;
      padding-right: 30px; }
  .btn.btn-default {
    background: #e5c4a9;
    color: white;
    border-color: #e5c4a9;
    border-radius: 0;
    text-transform: lowercase; }
    .btn.btn-default:hover {
      background: #ebd1bd;
      border-color: #ebd1bd; }
    .btn.btn-default:active, .btn.btn-default.active {
      background: #dfb795;
      border-color: #dfb795;
      box-shadow: none; }
    .btn.btn-default.btn-outline {
      color: #e5c4a9;
      border: 2px solid #e5c4a9;
      background: transparent; }
      .btn.btn-default.btn-outline:hover, .btn.btn-default.btn-outline.hover {
        color: white;
        background: #e5c4a9; }
      .btn.btn-default.btn-outline:active, .btn.btn-default.btn-outline.active {
        color: white;
        background: #dfb795; }
    .btn.btn-default.btn-line {
      color: #e5c4a9;
      border: none;
      background: transparent;
      text-decoration: underline;
      padding: 0px; }
      .btn.btn-default.btn-line:hover {
        text-decoration: none; }
    .btn.btn-default.btn-wider {
      padding-left: 30px;
      padding-right: 30px; }
  .btn.btn-success {
    background: #e1ea2a;
    color: white;
    border-color: #e1ea2a;
    border-radius: 0;
    text-transform: lowercase; }
    .btn.btn-success:hover {
      background: #e4ec41;
      border-color: #e4ec41; }
    .btn.btn-success:active, .btn.btn-success.active {
      background: #dae416;
      border-color: #dae416;
      box-shadow: none; }
    .btn.btn-success.btn-outline {
      color: #e1ea2a;
      border: 2px solid #e1ea2a;
      background: transparent; }
      .btn.btn-success.btn-outline:hover, .btn.btn-success.btn-outline.hover {
        color: white;
        background: #e1ea2a; }
      .btn.btn-success.btn-outline:active, .btn.btn-success.btn-outline.active {
        color: white;
        background: #dae416; }
    .btn.btn-success.btn-line {
      color: #e1ea2a;
      border: none;
      background: transparent;
      text-decoration: underline;
      padding: 0px; }
      .btn.btn-success.btn-line:hover {
        text-decoration: none; }
    .btn.btn-success.btn-wider {
      padding-left: 30px;
      padding-right: 30px; }

h1 {
  font-family: "Futura Std";
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 42px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 48px; } }

h2 {
  font-family: "Futura Std";
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 36px; }
  @media (min-width: 768px) {
    h2 {
      font-size: 42px; } }

h3 {
  font-family: "Futura Std";
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 30px; }
  @media (min-width: 768px) {
    h3 {
      font-size: 36px; } }

h4 {
  font-family: "Futura Std";
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 24px; }
  @media (min-width: 768px) {
    h4 {
      font-size: 30px; } }

h5 {
  font-family: "Futura Std";
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 18px; }
  @media (min-width: 768px) {
    h5 {
      font-size: 24px; } }

h6 {
  font-family: "Futura Std";
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 12px; }
  @media (min-width: 768px) {
    h6 {
      font-size: 18px; } }

h1 {
  font-weight: 700; }

/*Primary button*/
.link {
  color: inherit;
  font-size: inherit;
  padding: 0;
  font-weight: 700;
  text-decoration: underline; }
  .link:hover {
    color: inherit;
    text-decoration: none; }
  .link.link-primary {
    color: black;
    text-decoration: underline; }
    .link.link-primary:hover, .link.link-primary.hover {
      color: black;
      text-decoration: none; }
    .link.link-primary:active, .link.link-primary.active {
      color: black; }
  .link.link-warning {
    color: #d9a982;
    text-decoration: underline; }
    .link.link-warning:hover, .link.link-warning.hover {
      color: #d9a982;
      text-decoration: none; }
    .link.link-warning:active, .link.link-warning.active {
      color: #d39c6e; }
  .link.link-danger {
    color: black;
    text-decoration: underline; }
    .link.link-danger:hover, .link.link-danger.hover {
      color: black;
      text-decoration: none; }
    .link.link-danger:active, .link.link-danger.active {
      color: black; }
  .link.link-info {
    color: #84e4f1;
    text-decoration: underline; }
    .link.link-info:hover, .link.link-info.hover {
      color: #84e4f1;
      text-decoration: none; }
    .link.link-info:active, .link.link-info.active {
      color: #6ddfef; }
  .link.link-white {
    color: white;
    text-decoration: underline; }
    .link.link-white:hover, .link.link-white.hover {
      color: white;
      text-decoration: none; }
    .link.link-white:active, .link.link-white.active {
      color: #f2f2f2; }
  .link.link-default {
    color: black;
    text-decoration: underline; }
    .link.link-default:hover, .link.link-default.hover {
      color: black;
      text-decoration: none; }
    .link.link-default:active, .link.link-default.active {
      color: black; }
  .link.link-success {
    color: #c4cd14;
    text-decoration: underline; }
    .link.link-success:hover, .link.link-success.hover {
      color: #c4cd14;
      text-decoration: none; }
    .link.link-success:active, .link.link-success.active {
      color: #aeb612; }
  .link.link-pokerface {
    color: black; }
  .link.disabled, .link:disabled {
    opacity: 0.5;
    text-decoration: line-through !important;
    cursor: default; }
  .link.link-xs {
    font-size: 11px; }
  .link.link-sm {
    font-size: 13px; }
  .link.link-lg {
    font-size: 18px; }
  .link.link-xl {
    font-size: 22px; }
  .link.link-square {
    display: inline-block;
    width: 40px;
    text-align: center; }
  .link.link-social {
    color: black; }
    .link.link-social:hover {
      color: #0d0d0d; }

button.link {
  display: inline;
  background: none;
  border: none;
  outline: none; }
  button.link:focus {
    outline: none; }

.typo-brand-strong {
  font-family: "Futura";
  font-weight: 800; }

.typo-brand-weak {
  font-family: "Futura Std";
  font-weight: 200; }

.text-primary {
  color: black; }

.text-warning {
  color: #e5c4a9; }

.text-danger {
  color: black; }

.text-info {
  color: #c9f3f9; }

.text-white {
  color: white; }

.text-success {
  color: #e1ea2a; }

p {
  font-family: "Futura Std";
  font-weight: 200;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 30px; }
  @media (min-width: 768px) {
    p {
      font-size: 18px; } }
  p.general {
    font-size: 26px; }
    @media (min-width: 768px) {
      p.general {
        font-size: 28px; } }
  p.captain {
    font-size: 24px; }
    @media (min-width: 768px) {
      p.captain {
        font-size: 26px; } }
  p.sergent {
    font-size: 22px; }
    @media (min-width: 768px) {
      p.sergent {
        font-size: 24px; } }

body {
  letter-spacing: 1px; }

.bullet {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: transparent;
  border-radius: 50%;
  border: 3px solid black;
  -webkit-transition: border-width 0.1s ease;
  -moz-transition: border-width 0.1s ease;
  -ms-transition: border-width 0.1s ease;
  -o-transition: border-width 0.1s ease;
  transition: border-width 0.1s ease; }
  .bullet.bullet-primary {
    background: transparent;
    border-color: black; }
    .bullet.bullet-primary:active, .bullet.bullet-primary.active {
      border-color: black; }
  .bullet.bullet-default {
    background: transparent;
    border-color: black; }
    .bullet.bullet-default:active, .bullet.bullet-default.active {
      border-color: black; }
  .bullet.bullet-success {
    background: transparent;
    border-color: #e1ea2a; }
    .bullet.bullet-success:active, .bullet.bullet-success.active {
      border-color: #c4cd14; }
  .bullet:hover {
    border-width: 8px; }
  .bullet:active, .bullet.active {
    border-width: 13px; }
  .bullet.bullet-sm {
    width: 20px;
    height: 20px;
    border-width: 3px; }
    .bullet.bullet-sm:hover {
      border-width: 5px; }
    .bullet.bullet-sm:active, .bullet.bullet-sm.active {
      border-width: 10px; }

.bullet-group.bullet-vertical .bullet {
  margin-bottom: 5px; }

.incredible-fact {
  padding-bottom: 50px; }
  .incredible-fact .fact-title {
    font-family: "Futura";
    font-weight: 800;
    font-size: 68px;
    line-height: 1.2; }
    @media (min-width: 768px) {
      .incredible-fact .fact-title {
        font-size: 94px;
        line-height: 1.2; } }
  .incredible-fact .fact-subtitle {
    font-size: 24px; }
    @media (min-width: 768px) {
      .incredible-fact .fact-subtitle {
        font-size: 30px; } }

.thumbnail {
  width: 80px;
  height: 80px;
  border: 2px solid #e5c4a9;
  box-shadow: none;
  border-radius: 0;
  background: #000000;
  padding: 0px; }
  .thumbnail.thumbnail-default {
    background: #e5c4a9; }

.section.section-info .thumbnail {
  border-color: black; }

.media.team-member .pull-left {
  margin-right: 20px; }

.ci-animate.reveal-up {
  -webkit-transition: -webkit-transform 0.5s ease;
  -moz-transition: -webkit-transform 0.5s ease;
  -ms-transition: -webkit-transform 0.5s ease;
  -o-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease; }
  .ci-animate.reveal-up:hover {
    -webkit-transform: translateY(-50px); }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.margin-top, .wrapper1080 .main-content .margin-top {
  margin-top: 10px; }

.padding-top, .wrapper1080 .main-content .padding-top {
  padding-top: 10px; }

.margin-top-2, .wrapper1080 .main-content .margin-top-2 {
  margin-top: 20px; }

.padding-top-2, .wrapper1080 .main-content .padding-top-2 {
  padding-top: 20px; }

.margin-top-3, .wrapper1080 .main-content .margin-top-3 {
  margin-top: 30px; }

.padding-top-3, .wrapper1080 .main-content .padding-top-3 {
  padding-top: 30px; }

.margin-top-4, .wrapper1080 .main-content .margin-top-4 {
  margin-top: 40px; }

.padding-top-4, .wrapper1080 .main-content .padding-top-4 {
  padding-top: 40px; }

.margin-top-5, .wrapper1080 .main-content .margin-top-5 {
  margin-top: 50px; }

.padding-top-5, .wrapper1080 .main-content .padding-top-5 {
  padding-top: 50px; }

.no-padding-left {
  padding-left: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.margin-left, .wrapper1080 .main-content .margin-left {
  margin-left: 10px; }

.padding-left, .wrapper1080 .main-content .padding-left {
  padding-left: 10px; }

.margin-left-2, .wrapper1080 .main-content .margin-left-2 {
  margin-left: 20px; }

.padding-left-2, .wrapper1080 .main-content .padding-left-2 {
  padding-left: 20px; }

.margin-left-3, .wrapper1080 .main-content .margin-left-3 {
  margin-left: 30px; }

.padding-left-3, .wrapper1080 .main-content .padding-left-3 {
  padding-left: 30px; }

.margin-left-4, .wrapper1080 .main-content .margin-left-4 {
  margin-left: 40px; }

.padding-left-4, .wrapper1080 .main-content .padding-left-4 {
  padding-left: 40px; }

.margin-left-5, .wrapper1080 .main-content .margin-left-5 {
  margin-left: 50px; }

.padding-left-5, .wrapper1080 .main-content .padding-left-5 {
  padding-left: 50px; }

.no-padding-right {
  padding-right: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.margin-right, .wrapper1080 .main-content .margin-right {
  margin-right: 10px; }

.padding-right, .wrapper1080 .main-content .padding-right {
  padding-right: 10px; }

.margin-right-2, .wrapper1080 .main-content .margin-right-2 {
  margin-right: 20px; }

.padding-right-2, .wrapper1080 .main-content .padding-right-2 {
  padding-right: 20px; }

.margin-right-3, .wrapper1080 .main-content .margin-right-3 {
  margin-right: 30px; }

.padding-right-3, .wrapper1080 .main-content .padding-right-3 {
  padding-right: 30px; }

.margin-right-4, .wrapper1080 .main-content .margin-right-4 {
  margin-right: 40px; }

.padding-right-4, .wrapper1080 .main-content .padding-right-4 {
  padding-right: 40px; }

.margin-right-5, .wrapper1080 .main-content .margin-right-5 {
  margin-right: 50px; }

.padding-right-5, .wrapper1080 .main-content .padding-right-5 {
  padding-right: 50px; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.margin-bottom, .wrapper1080 .main-content .margin-bottom {
  margin-bottom: 10px; }

.padding-bottom, .wrapper1080 .main-content .padding-bottom {
  padding-bottom: 10px; }

.margin-bottom-2, .wrapper1080 .main-content .margin-bottom-2 {
  margin-bottom: 20px; }

.padding-bottom-2, .wrapper1080 .main-content .padding-bottom-2 {
  padding-bottom: 20px; }

.margin-bottom-3, .section-header, .wrapper1080 .main-content .margin-bottom-3, .wrapper1080 .main-content .section-header {
  margin-bottom: 30px; }

.padding-bottom-3, .wrapper1080 .main-content .padding-bottom-3 {
  padding-bottom: 30px; }

.margin-bottom-4, .wrapper1080 .main-content .margin-bottom-4 {
  margin-bottom: 40px; }

.padding-bottom-4, .wrapper1080 .main-content .padding-bottom-4 {
  padding-bottom: 40px; }

.margin-bottom-5, .wrapper1080 .main-content .margin-bottom-5 {
  margin-bottom: 50px; }

.padding-bottom-5, .wrapper1080 .main-content .padding-bottom-5 {
  padding-bottom: 50px; }
