.ci-navbar{
	.container{
		border-bottom: 1px solid $base_color;
		.navbar-nav{
			>li{
				>a{
					color: $base_color;
					font-size: 15px;
					&:hover{
						background: transparent;
						text-decoration: underline;
						color: black;
					}
				}
			}
		}
	}
}
