// Palette
$red: 			#c05127;
$green: 		#c4bc6e;
$purple: 		#a98399;
$violet: 		#422a5f;
$strong_blue: 	#62859b;
$weak_blue: 	#cadef4;
$strong_pink:	#e5a4aa;
$weak_pink:		#fde6db;

// support palette
$light_red:		#f9bdc2;
$light_green:	#bbccb3;
$water_green:	#84cec4;

// Character palette
$char_strong_red:	#ce3b1c;
$char_water_green:	#95cdb5;
$char_yellow:	#ffd659;
$char_brown:	#654E42;

// Fonts
$font_brand_strong: Dosis;
$font_brand_weak: Neuton;

// Actionable colors
$action_primary: 	$red;
$action_success: 	$green;
$action_warning: 	$char_yellow;
$action_danger: 	$char_strong_red;
$action_default: 	$weak_blue;
$action_info: 		$strong_blue;

// Sections
$section_primary: $weak_pink;
$section_success: $light_green;
$section_info: $weak_blue;
$section_danger: $char_strong_red;
$section_dream: $char_water_green;
$section_warning: $char_yellow;

// Character's face background
$section_char_pink: $strong_pink;